// Variables

@gray-darker: lighten(#000, 13.5%);
@gray-dark: lighten(#000, 20%);
@gray: lighten(#000, 33.5%);
@gray-light: lighten(#000, 60%);
@gray-lighter: lighten(#000, 93.5%);
@gray-lightest: lighten(#000, 97.25%);

@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

@color0: #ffffff;
@color1: #2775e2;
@color2: #2bb4e8;
@color3: #68dff0;




@color0_0: #f8f8f8;
@color0_1: #e7e7e7;
@color0_2: #000000;
